h1{
    color: red;
    font-size: 34px;
}
.second-para{
    color: green;
}
.para-span{
    color: blueviolet;
}
.image-div{
    text-align: center;
}
.footer-heading{
    background-color: aquamarine;
    background-clip: border-box;
    padding: 20px;
}